/* General Styles for the whole page */
body {
	background-color: #f4f4f4;
	font-family: cursive;
    /*font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;*/
}

/* Header - Only those above navbar */
#header {
    padding: 20px;
    text-align: center;
	background-color: #f4f4f4; /* Cannot inherit because not direct child of body */
}

header h1 {
	font-family: cursive;
}

/* Style for navigation bar */
nav ul {
	list-style-type: none;
	justify-content: center;
	background-color: #333399;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

nav ul li {
	margin: 0 15px;
	float: left;
}

nav ul li a {
	display: block;
	color: white;
	text-align: center;
	padding: 16px;
	text-decoration: none;
}

nav ul li a:hover {
	background-color: #111111;
}

/* Just to keep the header & navbar always on the top. */
header {
	position: sticky;
	top: 0;
	z-index: 999;
}

/* For the body part, without header & footer */
main {
	background-image: url("./img/bg2_opac_blur.png");
	background-size: contain;
	background-color: #bbbbe0;
	/*min-height: 500px;*/
	padding: 20px;
}

/* For the smaller blocks / sections in a page with different background color */
div .cust-article {
	padding: 20px;
	margin: 10px;
	background-color: rgba(255, 255, 255, 0.5);
	
	/* Just to prevent the URLs from overflowing */
	overflow-wrap: break-word;
	word-wrap: break-word;
}
/* Just for the II-VI info in About Me page */
u#iivi {
	text-decoration: underline;
    text-decoration-style: dotted;
}

u#iivi:hover span#iivi {
  /* NEW */
  display: inline;
}

span#iivi {
  display: none;
  background: #000000;
  color: #ffffff;
  padding: 8px;
  border-radius: 5px;
  position: absolute;
  z-index: 1000;
}

/* For collapsible panels in Publications page */
.cust-collapse-content {
	padding: 5px;
	display: none;
	overflow: hidden;
	background-color: rgba(255, 255, 255, 0.5);
	border-color: black;
	border-style: solid;
	border-width: 1px;
	border-radius: 5px;
}

/* Footer Section: Apply these styles to the footer */
footer {
    background-color: #333399;
    text-align: left;
	color: white;
    padding: 20px;
}
